@font-face {
    font-family: visitor;
    src: url('visitor.ttf');
}
html, body 
{
    width: 100% !important;
    height: 100% !important;
}
body
{
    margin: 0;
    padding: 0;
    line-height: 0;
    overflow: hidden;
    font-family: visitor; 
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;        
    cursor: default; 
}
.title {
    font-size: 3vw;
}

.animation-unz {
    animation: unz 0.25s cubic-bezier(1,0,1,0) infinite alternate;
}
.animation-bob {
    animation: bob 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.mainscreen {
    text-align: center;
    position: absolute;
    z-index: 900;
}
.gamescreen {
    z-index: -900;
}

.center-horizontal {
    position: absolute;
    left: 50%;
}

.center-vertical {
    position: absolute; 
    top: 50%; 
}

.center {
    position: absolute;
    left: 50%;
    top: 50%; 
}

.fill-horizontal {
    width: 100%;
}

.fill-vertical {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
}

.difficulties {
    margin-top: 4em
}
.difficulties > div {
    display: inline-block;
    margin: 0.5em;
}

body:not([data-gamestatus="start"]) .show-on-start, body:not([data-gamestatus="loading"]) .show-on-loading, body:not([data-gamestatus="playing"]) .show-on-playing, body[data-gamestatus="playing"] .hide-on-playing {
    animation: fadeout 0.5s linear forwards;
    pointer-events: none;
}

body[data-gamestatus="start"] .show-on-start, body[data-gamestatus="loading"] .show-on-loading, body[data-gamestatus="playing"] .show-on-playing, body:not([data-gamestatus="playing"]) .hide-on-playing {
    animation: fadein 0.5s linear forwards;
}

.pdf {
    bottom: 2em;
    right: 2em;
    position: fixed;
}

.pdf > img {
    width: 3em;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes bob {
    from {
        transform: rotate(-18deg)
    }
    to {
        transform: rotate(18deg)
    }
}

@keyframes unz {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.4)
    }
}